*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 80px;
    text-align: center;
    background-color: #33364a;
}
.checkbox-container label{
    width: 35px;
    height: 35px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #616161;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}
.checkbox-container label:hover{
    border-color: #ffffff;
}
.checkbox{
    width: 30px;
    height: 30px;
    accent-color: #0e005c;
    display: none;
}
.checkbox:checked + label{
    color: #ffffff;
    background-color: #00ffff;
}